# Ignore all files by default
/*

# Exception: keep the project source and README assets tracked
!/waveshare.yaml
!/core/
!/components/
!/docs/
!/.gitignore
!/.gitleaks.toml
!/.github

# Failsafe
/.esphome/
/secrets.yaml
__pycache__/